/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--p-surface-950);
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--p-surface-800);
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p-surface-700);
}